<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="<%= root_path %>">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <%= "active" if controller_name == "users" %>">
          <%= link_to "users", users_path, class: "nav-link"  %>
        </li>
        <li class="nav-item <%= "active" if controller_name == "books" %>">
          <%= link_to "books", books_path, class: "nav-link"  %>
        </li>
      </ul>
    </div>
  </nav>
</header>
