<!DOCTYPE html>
<html>
  <head>
    <title>Sumone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= "justify-content-center" if devise_controller? %>">
    <%= render partial: "layouts/shared/header" if user_signed_in? %>
    <% if devise_controller? %>
    <div class="d-flex justify-content-center align-items-center d-flex flex-nowrap">
      <div class="col-md-4 align-self-center">
        <%= yield %>
      </div>
    </div>
    <%
    else
      concat content_tag('div', yield, class: "container page")
    end
    %>
  </body>
</html>
